<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %> <%- include ("partials/headSpecial") %>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img
          src="https://unavatar.io/chatgpt"
          class=" rounded-circle m-auto animated bounceIn"
          alt="Website Logo"
        />
        <h2 class="my-0 text-uppercase fw-bold">Chat BOts preEntrenados</h2>
        <a href="/about" class="btn btn-primary w-25">About Us</a>
      </div>
    </header>

    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-block">
        <div class="col-md-4 offset-md-4">
          <h3>Pre-trained Chat Bots with Artificial Intelligence</h3>
          <p>
            Our platform offers a wide range of pre-trained chatbots, each
            designed to excel in a specific task. Whether you need a chatbot to
            provide customer support, generate creative content, or even write
            code, we have a solution for you.
          </p>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
