<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %> 
    <%- include ("partials/headSpecial") %>
  </head>
  <body style="text-align: center; color: white;">
    <%- include("partials/navigation") %>
    <header style="height: 70vh; display: flex; align-items: center; justify-content: center;"><h1 style="font-weight: 900;">Esta Pagina no existe</h1></header>
    <div style="height: 16vh; display: flex; align-items: end; justify-content: center;"><%- include("partials/footer") %></div>
  </body>
</html>
